body {
    background-color: black;
}

h1, h2, p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

a {
    text-decoration: underline;
    color:aquamarine
}